<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sozlesme-heading" jhiTranslate="jhipsterDemoApp.sozlesme.home.createOrEditLabel">Create or edit a Sozlesme</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sozlesme.tip" for="field_tip">Tip</label>
                    <select class="form-control" name="tip" formControlName="tip" id="field_tip">
                        <option value="AnaPaket">{{ 'jhipsterDemoApp.Tip.AnaPaket' | translate }}</option>
                        <option value="EkPaket">{{ 'jhipsterDemoApp.Tip.EkPaket' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sozlesme.tarih" for="field_tarih">Tarih</label>
                    <div class="d-flex">
                        <input id="field_tarih" type="datetime-local" class="form-control" name="tarih" formControlName="tarih" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('tarih')!.invalid && (editForm.get('tarih')!.dirty || editForm.get('tarih')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tarih')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tarih')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sozlesme.bitisTarihi" for="field_bitisTarihi">Bitis Tarihi</label>
                    <div class="d-flex">
                        <input id="field_bitisTarihi" type="datetime-local" class="form-control" name="bitisTarihi" formControlName="bitisTarihi" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sozlesme.musteri" for="field_musteri">Musteri</label>
                    <select class="form-control" id="field_musteri" name="musteri" formControlName="musteri">
                        <option *ngIf="!editForm.get('musteri')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="musteriOption.id === editForm.get('musteri')!.value?.id ? editForm.get('musteri')!.value : musteriOption" *ngFor="let musteriOption of musteris; trackBy: trackById">{{ musteriOption.ad }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('musteri')!.invalid && (editForm.get('musteri')!.dirty || editForm.get('musteri')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('musteri')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sozlesme.telNo" for="field_telNo">Tel No</label>
                    <select class="form-control" id="field_telNo" name="telNo" formControlName="telNo">
                        <option *ngIf="!editForm.get('telNo')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="telNoOption.id === editForm.get('telNo')!.value?.id ? editForm.get('telNo')!.value : telNoOption" *ngFor="let telNoOption of telnos; trackBy: trackById">{{ telNoOption.numara }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('telNo')!.invalid && (editForm.get('telNo')!.dirty || editForm.get('telNo')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('telNo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
