<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterDemoApp.telNo.home.title">Tel Nos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tel-no" [routerLink]="['/tel-no/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterDemoApp.telNo.home.createLabel">
            Create a new Tel No
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="telNos?.length === 0">
        <span jhiTranslate="jhipsterDemoApp.telNo.home.notFound">No telNos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="telNos && telNos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.telNo.numara">Numara</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let telNo of telNos ;trackBy: trackId">
                    <td><a [routerLink]="['/tel-no', telNo.id, 'view']">{{ telNo.id }}</a></td>
                    <td>{{ telNo.numara }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tel-no', telNo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tel-no', telNo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(telNo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
