<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterDemoApp.sirketBilgileri.home.title">Sirket Bilgileris</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sirket-bilgileri" [routerLink]="['/sirket-bilgileri/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterDemoApp.sirketBilgileri.home.createLabel">
            Create a new Sirket Bilgileri
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sirketBilgileris?.length === 0">
        <span jhiTranslate="jhipsterDemoApp.sirketBilgileri.home.notFound">No sirketBilgileris found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sirketBilgileris && sirketBilgileris.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.sirketBilgileri.sirketAdi">Sirket Adi</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.sirketBilgileri.sirketAdresi">Sirket Adresi</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.sirketBilgileri.musteri">Musteri</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sirketBilgileri of sirketBilgileris ;trackBy: trackId">
                    <td><a [routerLink]="['/sirket-bilgileri', sirketBilgileri.id, 'view']">{{ sirketBilgileri.id }}</a></td>
                    <td>{{ sirketBilgileri.sirketAdi }}</td>
                    <td>{{ sirketBilgileri.sirketAdresi }}</td>
                    <td>
                        <div *ngIf="sirketBilgileri.musteri">
                            <a [routerLink]="['/musteri', sirketBilgileri.musteri?.id, 'view']" >{{ sirketBilgileri.musteri?.ad }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sirket-bilgileri', sirketBilgileri.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sirket-bilgileri', sirketBilgileri.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sirketBilgileri)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
