<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sirket-bilgileri-heading" jhiTranslate="jhipsterDemoApp.sirketBilgileri.home.createOrEditLabel">Create or edit a Sirket Bilgileri</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sirketBilgileri.sirketAdi" for="field_sirketAdi">Sirket Adi</label>
                    <input type="text" class="form-control" name="sirketAdi" id="field_sirketAdi"
                           formControlName="sirketAdi"/>
                    <div *ngIf="editForm.get('sirketAdi')!.invalid && (editForm.get('sirketAdi')!.dirty || editForm.get('sirketAdi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sirketAdi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sirketBilgileri.sirketAdresi" for="field_sirketAdresi">Sirket Adresi</label>
                    <input type="text" class="form-control" name="sirketAdresi" id="field_sirketAdresi"
                           formControlName="sirketAdresi"/>
                    <div *ngIf="editForm.get('sirketAdresi')!.invalid && (editForm.get('sirketAdresi')!.dirty || editForm.get('sirketAdresi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sirketAdresi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.sirketBilgileri.musteri" for="field_musteri">Musteri</label>
                    <select class="form-control" id="field_musteri" name="musteri" formControlName="musteri">
                        <option *ngIf="!editForm.get('musteri')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="musteriOption.id === editForm.get('musteri')!.value?.id ? editForm.get('musteri')!.value : musteriOption" *ngFor="let musteriOption of musteris; trackBy: trackById">{{ musteriOption.ad }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('musteri')!.invalid && (editForm.get('musteri')!.dirty || editForm.get('musteri')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('musteri')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
